.one-animal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.one-animal__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  color: pink;
  padding-left: 10px;
}

.one-animal__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
